/logo/
/legacy/
/jlib-value/
/jlib-text/
/jlib-systemproperty/
/jlib-reflect/
/jlib-persistence-hibernate/
/jlib-operator/
/jlib-message/
/jlib-math/
/jlib-iterator/
/jlib-exception/
/jlib-container/
/jlib-collection/
/jlib-awslambda-logback/
/jlib-array/
/logo/
/legacy/
/jlib-value/
/jlib-text/
/jlib-systemproperty/
/jlib-reflect/
/jlib-persistence-hibernate/
/jlib-operator/
/jlib-message/
/jlib-math/
/jlib-iterator/
/jlib-exception/
/jlib-container/
/jlib-collection/
/jlib-awslambda-logback/
/jlib-array/
